<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Athiti:wght@400;600&family=Roboto:ital,wght@0,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/cadastro.css">
    <link rel="icon" type="imagem/png" href="/images/icons/icon.png" />
    <title>Document</title>
</head>
<body>
    <section class="form">
        <img src="/images/imgPagInicial/Logo.png" alt="">

        <form class="menuLogin" action="/cadastro" method="POST">
            <input type="text" name="name" id="name" value="<%= locals.old && old.name %>" placeholder="Digite seu nome">
            <input type="email" name="email" id="email" value="<%= locals.old && old.email %>" placeholder="Digite seu email">
            <input type="text" name="username" id=username value="<%= locals.old && old.name %>" placeholder="Digite um nome de usuário">
            <input type="password" name="password" id="password" placeholder="Digite sua senha">

            <% if(locals.errors && errors.name) { %>
                <p class="feedback"><%= errors.name.msg %></p>
            <% } %>
            <% if(locals.errors && errors.email) { %>
                <p class="feedback"><%= errors.email.msg %></p>
            <% } %>
            <% if(locals.errors && errors.password) { %>
                <p class="feedback"><%= errors.password.msg %></p>
            <% } %>

            <input type="submit" value="Cadastrar">
        </form>
    </section>

    <video id="bakground" src="/video/video/videoBackground.mp4" autoplay="true" muted loop></video>  

</body>
</html>