<html lang="pt-br">
    <head>
        <%- include('./partials/head')%>
        <link href="/css/stylePadrao.css" rel="stylesheet">
        <link href="/css/explorar.css" rel="stylesheet">

        <title>Serial - Explorar</title>
    </head>
    <body>
        <%- include('./partials/header')%>

        <main>
                <div class="explorar">
                    <img src="/images/imgExplorar/icones/iconeExplorar.png" alt="">
                    <h1>EXPLORAR</h1>
                </div>

                <form class="search" method="POST" action="/search">
                    <input type="text" name="search">
                    <input type="submit" value="BUSCAR">
                </form>

                <div class="titleGenre">
                    <h2>DESCUBRA</h2>
                </div>
                <div class="casting">
                    <%if(discoverSeries){%>
                    <%discoverSeries.forEach(({}, index)=> {%>
                        <%if(discoverSeries[index].poster_path != null){%>
                        <div class="CastTitle">
                            <a href="<%=`/serie/${discoverSeries[index].id}`%>">
                                <img src="<%=`https://image.tmdb.org/t/p/w500${discoverSeries[index].poster_path}`%>" alt="">                              
                                <h3><%=discoverSeries[index].original_name%></h3>
                                <h4><%=discoverSeries[index].first_air_date.substring(0,4)%></h4>
                            </a>
                        </div><!--CastTitle-->>
                        <%}%>
                    <%})}%>;
                </div><!--casting-->
                <%if(page != 1){%>
                    <a href="<%=`/explorar/${page-1}`%>">ANTERIOR</a>
                <%}%>                
                <a href="<%=`/explorar/${page+1}`%>">PRÓXIMA</a>
            </main>
    </body>
</html>