<html lang="pt-br">
    <head>
        <%- include('./partials/head')%>
        <link href="/css/stylePadrao.css" rel="stylesheet">
        <link href="/css/explorar.css" rel="stylesheet">

        <title>Serial - Explorar</title>
    </head>
    <body>
        <%- include('./partials/header')%>

        <main>
                <div class="explorar">
                    <img src="/images/imgExplorar/icones/iconeExplorar.png" alt="">
                    <h1>EXPLORAR</h1>
                </div>

                <form class="search" method="GET" action="/explorar/search/1">
                    <input type="text" name="search">
                    <input type="submit" value="BUSCAR">
                </form>

                <div class="titleGenre">
                    <h2>DESCUBRA</h2>
                </div>
                <div class="casting">
                    <%if(discoverSeries.results){%>
                    <%discoverSeries.results.forEach(({}, index)=> {%>
                        <%if(discoverSeries.results[index].poster_path != null){%>
                        <div class="CastTitle">
                            <a href="<%=`/serie/${discoverSeries.results[index].id}/1`%>">
                                <img src="<%=`https://image.tmdb.org/t/p/w500${discoverSeries.results[index].poster_path}`%>" alt="">                              
                                <h3><%=discoverSeries.results[index].original_name%></h3>
                                <h4><%=discoverSeries.results[index].first_air_date ? discoverSeries.results[index].first_air_date.substring(0,4) : ''%></h4>
                            </a>
                        </div><!--CastTitle-->>
                        <%}%>
                    <%})}%>;
                </div><!--casting-->
                <div class="pages">
                    <% if(isSearch) {%>
                        <%if(discoverSeries.page > 1){%>
                            <a href="<%=`/explorar/search/${discoverSeries.page-1}?search=${search}`%>">ANTERIOR</a>
                        <%}%>
                        <%if(total_pages > discoverSeries.page) {%>
                            <a href="<%=`/explorar/search/${discoverSeries.page+1}?search=${search}`%>">PRÓXIMA</a>
                        <%}%>
                    <%} else {%> 
                        <%if(discoverSeries.page > 1){%>                       
                            <a href="<%=`/explorar/${discoverSeries.page-1}`%>">ANTERIOR</a>
                        <%}%>           
                        <a href="<%=`/explorar/${discoverSeries.page+1}`%>">PRÓXIMA</a>
                    <%}%>
                </div>

            </main>
    </body>
</html>