<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include('./partials/head') %>
    <link href="/css/stylePadrao.css" rel="stylesheet">
    <link href="/css/pgSerie.css" rel="stylesheet">
    
    <title><%=`Serie - ${serie.original_name}`%></title>
</head>
<body>
    <%- include('./partials/header') %>
    <div class="container" style="background-image: url('<%=`https://image.tmdb.org/t/p/original${serie.backdrop_path}`%>');">
        <div class="info-wrapper">
            <div class="poster" style="background-image: url('<%=`https://image.tmdb.org/t/p/original${serie.poster_path}`%>');">
                <button>ADICIONAR</button>
            </div><!--poster-->
            <div class="infoTvShow">
                <h1><%=serie.original_name%></h1>
                <span>Nota dos Usuários: <%=serie.vote_average%></span>
                <br>
                <span style="color:#6741B9; font-weight:bold"><%=(serie.number_of_seasons != '1')?`${serie.number_of_seasons} TEMPORADAS`:`${serie.number_of_seasons} TEMPORADA`%> </span>           
                <p><%=serie.overview?serie.overview:'Não temos uma sinopse para esta série.'%></p>
                <div>
                    <button>PRIVATE</button>
                    <button>FAVORITAR</button>
                </div>
                
            </div><!--infoTvShow-->
        </div><!--info-wrapper-->
    </div><!--container-->
    
</body>
</html>