<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include('./partials/head') %>
    <link href="/css/stylePadrao.css" rel="stylesheet">
    <link href="/css/pgSerie.css" rel="stylesheet">
  
    <title><%=`Serie - ${serie.original_name}`%></title>
</head>
<body>
    <%- include('./partials/header') %>
    <div class="container" style="background-image: url('<%=`https://image.tmdb.org/t/p/original${serie.backdrop_path}`%>');">
        <div class="info-wrapper">
            <div class="poster" style="background-image: url('<%=`https://image.tmdb.org/t/p/original${serie.poster_path}`%>');">
                <form method="POST" action="<%=`/serie/${serie.id}/adicionar?_method=PUT`%>">
                    <input type="submit" name="buttonAdd" value="ADICIONAR" onclick="alert('Série adicionada com sucesso!')">
                </form>
            </div><!--poster-->
            <div class="infoTvShow">
                <h1><%=serie.original_name%></h1>
                <span>Nota dos Usuários: <%=serie.vote_average%></span>
                <br>
                <span style="color:#6741B9; font-weight:bold"><%=(serie.number_of_seasons != '1')?`${serie.number_of_seasons} TEMPORADAS`:`${serie.number_of_seasons} TEMPORADA`%> </span>           
                <p><%=serie.overview?serie.overview:'Não temos uma sinopse para esta série.'%></p>
                <!-- <form>
                    <input type="submit" id="buttonPrivate" name="buttonPrivate" value="PRIVATE">
                </form> -->
                <form method="POST" action="<%=`/serie/${serie.id}/favorite?_method=PUT`%>">
                    <input type="submit" id="buttonFavorite" name="buttonFavorite" value="FAVORITO">
                </form>                
            </div><!--infoTvShow-->
        </div><!--info-wrapper-->
    </div><!--container-->

    <div class="container">
        <form class="commentForm" method="POST" action="<%`/serie/${serie.id}`%>">
            <input type="text" name="comment"><br>
            <button>POST</button>
        </form>

        <section class="usersPosts">
            <%if(comments){%>
                <%comments.forEach(comment => {%>
                    <div class="titlePost">
                        <img src="<%=comment.user.imgProfile%>" alt="">
                        <h3><%=comment.user.name%></h3>
                    </div>
                    <div class="commentPost">
                        <p><%=comment.comment%></p>
                    </div>
                    <a href="">Delete</a>
                <%})%>
            <%} else {%>
                <p>Não há comentários!</p>
            <%}%>
        </section>
    </div>

    
</body>
</html>