<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include('./partials/head') %>
    <link href="/css/stylePadrao.css" rel="stylesheet">
    <link href="/css/pgSerie.css" rel="stylesheet">
    
    <title><%=`Serie - ${serie.original_name}`%></title>
</head>
<body>
    <%- include('./partials/header') %>
    <div class="container">
        <div class="info-wrapper">
            <div class="poster" style="background-image: url('<%=`https://image.tmdb.org/t/p/w500/${serie.poster_path}`%>');">
                <button>ADICIONAR</button>
            </div><!--poster-->
            <div class="infoTvShow">
                <h1><%=serie.original_name%></h1>
                <span>Nota dos Usuários: <%=serie.vote_average%></span>
                <p><%=serie.overview%></p>
                <button>PRIVATE</button>
                <button>FAVORITAR</button>
            </div><!--infoTvShow-->
        </div><!--info-wrapper-->
    </div><!--container-->
    
</body>
</html>