<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include('./partials/head') %>
    <link href="/css/stylePadrao.css" rel="stylesheet">
    <link href="/css/pgSerie.css" rel="stylesheet">
  
    <title><%=`Serie - ${serie.original_name}`%></title>
</head>
<body>
    <%- include('./partials/header') %>
    <div class="container" style="background-image: url('<%=`https://image.tmdb.org/t/p/original${serie.backdrop_path}`%>');">
        <div class="info-wrapper">
            <div class="poster" style="background-image: url('<%=`https://image.tmdb.org/t/p/original${serie.poster_path}`%>');">
            </div><!--poster-->
            <div class="infoTvShow">
                <h1><%=serie.original_name%></h1>
                <span>Nota dos Usuários: <%=serie.vote_average%></span>
                <br>
                <span style="color:#6741B9; font-weight:bold"><%=(serie.number_of_seasons != '1')?`${serie.number_of_seasons} TEMPORADAS`:`${serie.number_of_seasons} TEMPORADA`%> </span>           
                <p><%=serie.overview?serie.overview:'Não temos uma sinopse para esta série.'%></p>
                <div class="actions">
                <!--<form>
                        <input type="submit" id="buttonPrivate" name="buttonPrivate" value="Tornar Privado?">
                    </form> -->
                    <% if(!itIsOnFavorite && itIsOnCast) { %>
                        <form method="POST" action="<%=`/serie/${serie.id}/${season.season_number}/favorite?_method=PUT`%>">
                            <input type="submit" id="buttonFavorite" name="buttonFavorite" value="FAVORITA">
                        </form>
                    <%} else if (itIsOnFavorite && itIsOnCast) {%>
                        <form method="POST" action="<%=`/serie/${serie.id}/${season.season_number}/Deletefavorite?_method=DELETE`%>">
                            <input type="submit" id="buttonFavorite" name="buttonFavorite" value="REMOVER DOS FAVORITOS" style="background-color: rgba(103, 65, 185, 0.9)">
                        </form>
                    <%}%>
                    <% if(!itIsOnCast) { %>
                        <form method="POST" action="<%=`/serie/${serie.id}/${season.season_number}/adicionar?_method=PUT`%>">
                            <input type="submit" name="buttonAdd" value="ADICIONAR">
                        </form>
                    <%} else {%>
                        <form method="POST" action="<%=`/serie/${serie.id}/${season.season_number}/remover?_method=DELETE`%>">
                            <input type="submit" name="buttonAdd" value="REMOVER DO CAST" style="background-color: rgba(103, 65, 185, 0.9)">
                        </form>
                    <%}%>
                </div>                              
            </div><!--infoTvShow-->
        </div><!--info-wrapper-->
    </div><!--container-->

    <section class="infoTvShowSeason">
        <div class="infoDatasheet">
            <h3 style="color: #6741B9;"><%= serie.networks.length == 0 ? '' : serie.networks[0].name%></h3>
            <h3>|</h3>
            <h3><%=serie.in_production ? 'Em Andamento' : 'Finalizada'%></h3>
            <h3>|</h3>
            <h3 style="color: #6741B9;"><%=`${serie.popularity} pessoas já assistiram!`%></h3>
        </div>
        <div class="titleInfoTvShowSeason">
            <h2><%=season.name%></h2>
        </div>
        <div class="episodesWrapper">
            <img src="<%=`https://image.tmdb.org/t/p/w500${season.poster_path ? season.poster_path : serie.poster_path}`%>" alt="">
            <ul>
                <%season.episodes.forEach( ({}, index) => {%>
                    <% 
                        let isWatched = undefined
                        episodes === undefined ? isWatched = false : isWatched = (episodes.findIndex(episode => episode.idEpisodes == season.episodes[index].id)) === -1 ? false : true;
                    %>
                    <% if(!isWatched){ %>
                        <form method="POST" action="<%=`/serie/${serie.id}/${season.season_number}/${season.episodes[index].episode_number}/${season.episodes[index].id}?_method=PUT`%>">
                            <li>
                                <%=`${season.episodes[index].episode_number} - ${season.episodes[index].name}`%>
                                <input type="submit" value="+">
                            </li>
                        </form>
                    <% } else { %>
                        <form method="POST" action="<%=`/serie/${serie.id}/${season.season_number}/${season.episodes[index].episode_number}/${season.episodes[index].id}?_method=DELETE`%>">
                            <li>
                                <%=`${season.episodes[index].episode_number} - ${season.episodes[index].name}`%>
                                <input type="submit" value="-" style="padding-right: 7px;">
                            </li>
                        </form>
                    <%}%>
                <%})%>
            </ul>
            <select name="season" class="season" onchange="location.href=this.value">
                <option value="#">Selecione a Temporada</option>
                <%for(let index = 1; serie.number_of_seasons >= index; index++){ %>
                    <option value="<%=`/serie/${serie.id}/${index}`%>"><%=`Temporada ${index}`%></option>
                <%}%>
            </select>
        </div>        
    </section>

    <section class="commentWrapper">
        <form class="commentForm" method="POST" action="<%=`/serie/${serie.id}/${season.season_number}`%>">
            <textarea rows="4" name="comment"></textarea><br>
            <button>POST</button>
            <div class="clear"></div>
        </form>

        <%if(comments != []){%>
            <%comments.forEach(comment => {%>
                <% if(comment.season == season.season_number) {%>
                    <section class="usersPosts">
                        <div class="titlePost">
                            <img src="<%=comment.user_comment.imgProfile%>" alt="">
                            <h3><%=comment.user_comment.name%></h3>
                        </div>
                        <div class="commentPost">
                            <p><%=comment.comment%></p>
                        </div>

                        <% if(comment.user_comment.id == user) {%>
                            <form method="POST" action="<%=`/serie/${serie.id}/${season.season_number}/deleteComment/${comment.id}?_method=DELETE`%>">
                                <input type="submit" value="DELETE">
                                <div class="clear"></div>
                            </form>
                        <%}%>
                    </section>
                <%}%>
            <%})%>
        <%}%>
        
    </section>    
</body>
</html>