<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head')%>
    <link href="/css/stylePadrao.css" rel="stylesheet">
    <link href="/css/usuarioSettings.css" rel="stylesheet">
        
    <link rel="icon" type="imagem/png" href="images/icones/icon.png" />
    <title>Serial - Configurações</title>
</head>
<body>
    <%console.log(user)%>
    <%- include('./partials/header')%>

    <%- include('./partials/userInfo')%>

    <main>
        <div class="container">
            <div class="backgroundSettings">
                <form action="<%=`/usuario/${userSession.username}/${userSession.id}/settings/profile-picture`%>" method="POST" enctype="multipart/form-data">
                    <label for="imgProfile">Imagem Perfil</label>
                    <div class="fileImg">
                        <input type="file" name="imgProfile" id="file" single>
                        <button type="submit">Enviar</button>
                    </div>                    
                </form> 

                <form action="<%=`/usuario/${userSession.username}/${userSession.id}/settings/background-picture`%>" method ="POST" enctype="multipart/form-data">
                    <label for="imgProfile">Imagem Capa</label>
                    <div>
                        <input type="file" name="imgBackground" id="file" single>
                        <button type="submit">Enviar</button>
                    </div>
                </form> 
            </div>
        </div>
    </main>
</body>
</html>