<html lang="pt-br">
    <head>
        <%- include('./partials/head')%>
        <link href="/css/stylePadrao.css" rel="stylesheet">     
        <link href="/css/usuarioPipocando.css" rel="stylesheet">     
        
        <title>Serial - Pipocando</title>
    </head>
    <body>
        <%- include('./partials/header')%>

        <%- include('./partials/userInfo')%>

        <section class="pipocando">
            <div class="container">
                <div class="title">
                    <img src="/images/icons/iconePipocando.png" alt="ícone pipocando">
                    <h1>PIPOCANDO</h1>
                </div><!--title-->
                
                <div class="episodesToUpdate">
                    <%if(episodesToWatch.length === 0) {%>
                        <p style="color:white">Não há episódios para atualizar!</p>
                    <%}%>
                    <%episodesToWatch.forEach((episode,index)=> {%>
                        <div class="toWatchEpisodes">
                            <div class="imgEpisode">
                                <img src="<%=`https://image.tmdb.org/t/p/w500${episode.tvShow_episode.poster_path}`%>" alt="poster TvShow">
                            </div>                        
                            <div class="infoEpisode">
                                <h1><a href="<%=`/serie/${episode.tvShow_episode.idTvShow}/1`%>"><%= episode.tvShow_episode.original_name%></a></h1>
                                <p><span class="seasonEpisode">S<%=episode.season > 9 ? episode.season : '0' + episode.season %>|E<%=episode.episode_number > 9 ? episode.episode_number : '0' + episode.episode_number %></span> <%= episode.name%></p>
                            </div>
                            <div class="watched">
                                <form method="POST" action="<%=`/serie/pipocando/${episode.idTvShow}/${episode.season}/${episode.episode_number}/${episode.idEpisodes}/${true}?_method=PUT`%>">
                                    <input type="submit" value="+">
                                </form>
                            </div>
                        </div>
                    <%})%>
                </div><!--toWatchEpisodes-->
            </div><!--container-->
        </section>

    </body>
</html>