<html lang="pt-br">
    <head>
        <%- include('./partials/head')%>
        <link href="/css/stylePadrao.css" rel="stylesheet">
        <link href="/css/usuarioConexoes.css" rel="stylesheet">

        <link rel="icon" type="imagem/png" href="images/icones/icon.png" />
        <title>Serial - Conexões</title>
    </head>
    <body>
        <%- include('./partials/header')%>

        <%- include('./partials/userInfo')%> 

        <main>
                <div class="conexoes">
                    <img src="/images/imgConexoes/iconesUsuarioConexao/iconeConexão.png" alt="">
                    <h1 style="margin-right: -0.6em;">CONEXÕES</h1>
                </div>
                <div class="followingTitle">
                    <h2>SEGUINDO</h2>
                </div>
                <div class="following">
                    <%if(userFollowing == null || userFollowing.length == 0){%>
                        <p style="color:#FFFFFF; font-size:20px;">Você ainda não segue ninguém!</p>
                    <%}%>
                    <%userFollowing.forEach(({},index)=> {%>
                        <div class="follower">
                            <a href="<%=`/usuario/${userFollowing[index].username}/${userFollowing[index].id}`%>">
                                <img src="<%=`${userFollowing[index].imgProfile}`%>" alt="">
                                <h4><%=userFollowing[index].name%></h4>
                            </a>
                        </div>
                    <%})%>
                </div>
                <div class="followersTitle">
                    <h2 style="margin-right: -15px;">SEGUIDORES</h2>
                </div>
                <div class="followers">
                    <%if(userFollowers == null || userFollowers.length == 0){%>
                        <p style="color:#FFFFFF; font-size:20px;">Você ainda não possui seguidores!</p>
                    <%}%>
                    <%userFollowers.forEach(({},index)=> {%>
                        <div class="follower">
                            <a href="<%=`/usuario/${userFollowers[index].username}/${userFollowers[index].id}`%>">
                                <img src="<%=`${userFollowers[index].imgProfile}`%>" alt="">
                                <h4><%=userFollowers[index].name%></h4>
                            </a>
                        </div>
                    <%})%>
                </div>
        </main>

    </body>
</html>