<html lang="pt-br">
    <head>
        <%- include('./partials/head')%>
        <link href="/css/stylePadrao.css" rel="stylesheet">
        <link href="/css/usuarioPerfil.css" rel="stylesheet">        
        
        <title>Serial - Perfil</title> 
    </head>
    <body>
        <%- include('./partials/header')%>

        <%- include('./partials/userInfo')%>

        <main>
            <section class="favoritesUser">
                <div class="container">
                    <div class="favoritesTitle">
                        <h1>FAVORITOS</h1>
                    </div>                
                    <div class="favoritesCast">
                        <div class="favoritesCastTitlesWrap">
                            <%if(userProfile.castFavoritos == null || userProfile.castFavoritos.length == 0){%>
                                <p>Não há favoritos adicionado!</p>
                            <%}%>
                            <%userProfile.castFavoritos.forEach(({},index)=> {%>
                                <div class="favoritesCastTitle">
                                    <a href="<%=`/serie/${userProfile.castFavoritos[index].id}`%>">
                                        <img src="<%=`https://image.tmdb.org/t/p/w500/${userProfile.castFavoritos[index].poster_path}`%>" alt="">
                                        <h3><%=userProfile.castFavoritos[index].original_name%></h3>
                                        <h4><%=userProfile.castFavoritos[index].first_air_date.substring(0,4)%></h4>
                                    </a>
                                </div>
                            <%})%>
                        </div>
                    </div>
                </div>
            </section><!--favoritesUser-->

            <section class="timekeeper">
                <div class="container">
                    <h1>Temporizador</h1>
                    <div id="timeclock">
                        <div class="timer">
                            <h2>00</h2>
                            <h4>ANOS</h4>
                        </div>
                        <div class="timer">
                            <h2>03</h2>
                            <h4>MESES</h4>                        
                        </div>
                        <div class="timer">
                            <h2>11</h2>
                            <h4>DIAS</h4>                       
                        </div>
                        <div class="timer">
                            <h2>02</h2>
                            <h4>HORAS</h4>                
                        </div>
                        <div class="timer">
                            <h2>39</h2>
                            <h4>MIN</h4>                           
                        </div>
                    </div>

                    <section class="episodeInfo">
                        <div class="episodesCount">
                            <h2>Episódios</h2>
                            <h3>4697</h3>
                        </div>
                        <div class="episodesGenders">
                            <h2>Gêneros</h2>
                            <ul>
                                <li>Comédia</li>
                                <li>Policial</li>
                                <li>Drama</li>
                                <li>Minissérie</li>
                                <li>Comédia</li>
                                <li>Policial</li>
                                <li>Drama</li>
                                <li>Minissérie</li>
                                <li>Comédia</li>
                                <li>Policial</li>
                                <li>Drama</li>
                                <li>Minissérie</li>
                                <li>Comédia</li>
                                <li>Policial</li>
                                <li>Drama</li>
                                <li>Minissérie</li>
                                <li>Comédia</li>
                                <li>Policial</li>
                                <li>Drama</li>
                                <li>Minissérie</li>
                                <li>Comédia</li>
                                <li>Policial</li>
                                <li>Drama</li>
                                <li>Minissérie</li>
                                <li>Minissérie</li>
                                <li>Comédia</li>
                                <li>Policial</li>
                                <li>Drama</li>
                                <li>Minissérie</li>
                                <li>Comédia</li>
                                <li>Policial</li>
                                <li>Drama</li>
                                <li>Minissérie</li>
                                <li>Comédia</li>
                                <li>Policial</li>
                                <li>Drama</li>
                                <li>Minissérie</li>
                            </ul>
                        </div>
                    </section>
                </div><!--container-->
            </section><!--timekeeper-->

            <section class="userTvShows">
                <div class="container">
                    <nav>
                        <ul>
                            <li class="select">Todas</li>
                            <li>Já Assistiu</li>
                            <li>Quero Ver</li>
                        </ul>
                    </nav>
                    <div class='userTvCastWrap'>
                        
                        <div class="userTvCast">
                            <%if(userProfile.castTvShows == null || userProfile.castTvShows.length == 0){%>
                                <p>Não há favoritos adicionado!</p>
                            <%}%>
                            <%userProfile.castTvShows.forEach(({},index)=> {%>
                                <div class="userCastTitle">
                                    <a href="<%=`/serie/${userProfile.castTvShows[index].id}`%>">
                                        <img src="<%=`https://image.tmdb.org/t/p/w500/${userProfile.castTvShows[index].poster_path}`%>" alt="">
                                        <h3><%=userProfile.castTvShows[index].original_name%></h3>
                                        <h4><%=userProfile.castTvShows[index].first_air_date.substring(0,4)%></h4>
                                    </a>
                                </div><!--userCastTitle-->
                            <%})%>
                        </div><!--userTvCast-->
                    </div>
                </div><!--container-->
            </section><!--userTvShows-->
        </main>

    </body>
</html>