<html lang="pt-br">
    <head>
        <%- include('./partials/head')%>
        <link href="/css/stylePadrao.css" rel="stylesheet">
        <link href="/css/usuarioPerfil.css" rel="stylesheet">        
        
        <title>Serial - Perfil</title> 
    </head>
    <body>
        <%- include('./partials/header')%>

        <%- include('./partials/userInfo')%>

        <main>
            <section class="favoritesUser">
                <div class="container">
                    <div class="favoritesTitle">
                        <h1>FAVORITOS</h1>
                    </div>                
                    <div class="favoritesCast">
                        <div class="favoritesCastTitlesWrap">
                            <%if(user.castFavorites == null || user.castFavorites.length == 0){%>
                                <p style="color:#FFFFFF; font-size:20px;">Não há favoritos adicionados!</p>
                            <%}%>
                            <%user.castFavorites.forEach(({},index)=> {%>
                                <div class="favoritesCastTitle">
                                    <a href="<%=`/serie/${user.castFavorites[index].id}/1`%>">
                                        <img src="<%=`https://image.tmdb.org/t/p/w500${user.castFavorites[index].poster_path}`%>" alt="">
                                        <h3><%=user.castFavorites[index].original_name%></h3>
                                        <h4><%=user.castFavorites[index].first_air_date.substring(0,4)%></h4>
                                    </a>
                                </div>
                            <%})%>
                        </div>
                    </div>
                </div>
            </section><!--favoritesUser-->

            <section class="timekeeper">
                <div class="container">
                    <h1>Temporizador</h1>
                    <div id="timeclock">
                        <div class="timer">
                            <h2><%=timekeeper.timeMonths < 10 ? '0' + timekeeper.timeMonths : timekeeper.timeMonths%></h2>
                            <h4><%=timekeeper.timeMonths > 1 ? 'MESES' : 'MÊS'%></h4>                        
                        </div>
                        <div class="timer">
                            <h2><%=timekeeper.timeDays < 10 ? '0' + timekeeper.timeDays : timekeeper.timeDays%></h2>
                            <h4><%=timekeeper.timeDays > 1 ? 'DIAS' : 'DIA'%></h4>                       
                        </div>
                        <div class="timer">
                            <h2><%=timekeeper.timeHours < 10 ? '0' + timekeeper.timeHours : timekeeper.timeHours%></h2>
                            <h4><%=timekeeper.timeHours > 1 ? 'HORAS' : 'HORA'%></h4>                
                        </div>
                        <div class="timer">
                            <h2><%=timekeeper.timeMinutes < 10 ? '0' + timekeeper.timeMinutes : timekeeper.timeMinutes%></h2>
                            <h4>MIN</h4>                           
                        </div>
                    </div>

                    <section class="episodeInfo">
                        <div class="episodesCount">
                            <h2>Episódios</h2>
                            <h3><%=episodes%></h3>
                        </div>
                        <div class="episodesGenders">
                            <h2>Gêneros</h2>
                            <ul>
                                <%if(user.genresTvShows == null || user.genresTvShows.length == 0){%>
                                    <p style="color: #FFFFFF;">Não há gêneros adicionados!</p>
                                <%} else {%>
                                    <%user.genresTvShows.forEach(({},index)=> {%>
                                        <li><%=user.genresTvShows[index].name%></li>
                                    <%})%>
                                <%}%>
                            </ul>
                        </div>
                    </section>
                </div><!--container-->
            </section><!--timekeeper-->

            <section class="userTvShows">
                <div class="container">
                    <h2>CAST SÉRIES</h2>
                    <div class='userTvCastWrap'>
                        
                        <div class="userTvCast">
                            <%if(user.castTvShows == null || user.castTvShows.length == 0){%>
                                <p style="color:#FFFFFF; font-size:20px; margin: 0 auto; position: relative; left: -8px;">Não há séries adicionadas!</p>
                            <%}%>
                            <%user.castTvShows.forEach(({},index)=> {%>
                                <div class="userCastTitle">
                                    <a href="<%=`/serie/${user.castTvShows[index].id}/1`%>">
                                        <img src="<%=`https://image.tmdb.org/t/p/w500/${user.castTvShows[index].poster_path}`%>" alt="">
                                        <h3><%=user.castTvShows[index].original_name%></h3>
                                        <h4><%=user.castTvShows[index].first_air_date.substring(0,4)%></h4>
                                    </a>
                                </div><!--userCastTitle-->
                            <%})%>
                        </div><!--userTvCast-->
                    </div>
                </div><!--container-->
            </section><!--userTvShows-->
        </main>

    </body>
</html>