<div class="background-user" style="background-image:url('<%=user.imgBackground%>');">
    <div class="container">
        <div class="blockUser">
            <div id="profilePicture">
                <img src="<%=user.imgProfile%>" />
                <%if(user.id != userSession.id){%>
                    <%if(!isFollowing){%>
                        <form method="POST" action="<%=`/usuario/${user.username}/${user.id}?_method=PUT`%>">
                            <input type="submit" value="+"> 
                        </form>
                    <%} else {%>
                        <form method="POST" action="<%=`/usuario/${user.username}/${user.id}?_method=DELETE`%>">
                            <input type="submit" value="-"> 
                        </form>
                    <%}%>
                <%}%>
            </div>            
                
            <div id="userName">
                <h1><%=user.name%></h1>
                <div id="userFollows">
                    <h4><%=following%><br>seguindo</h4>
                    <img src="/images/icons/iconeConexão.png"/>
                    <h4><%=followers%><br>seguidores</h4>
                </div> <!--userFollows-->               
            </div><!--userName-->
        </div><!--background-user-->

        <nav class="menu-perfil-desktop">
            <%if(user.id === userSession.id){%>
                <ul>
                    <li class="selectPerfil"><a href="<%=`/usuario/${userSession.username}/${userSession.id}`%>">PERFIL</a></li>
                    <li class="selectFeed"><a href="<%=`/usuario/${userSession.username}/${user.id}/feed/1`%>">FEED</a></li>
                    <li class="selectConexoes"><a href="<%=`/usuario/${userSession.username}/${userSession.id}/conexoes`%>">CONEXÕES</a></li>
                    <li class="selectPipocando"><a href="<%=`/usuario/${userSession.username}/${userSession.id}/pipocando`%>">PIPOCANDO</a></li>
                    <li class="selectSettings"><a href="<%=`/usuario/${userSession.username}/${userSession.id}/settings`%>">CONFIGURAÇÕES</a></li>
                </ul>
            <%} else {%>
                <ul>
                    <li class="selectPerfil"><a href="<%=`/usuario/${user.username}/${user.id}`%>">PERFIL</a></li>
                    <li class="selectConexoes"><a href="<%=`/usuario/${user.username}/${user.id}/conexoes`%>">CONEXÕES</a></li>
                </ul>
            <%}%>
        </nav><!--menu-perfil-desktop-->

    </div><!--container--> 
</div> 